.inner {
    max-width: 1920px;
    margin: 0 auto;
}

.inner2 {
    margin: 0 120px;
}

.inner3 {
    max-width: 1410px;
    margin: 0 auto;
}

.default {
    padding: 120px 0;
}

.title h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}



.scroll {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
    color: #fff;
}


.scroll::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    animation: scroll 2s infinite;

}



.scroll::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    width: 1px;
    height: 80px;
    background: #fff;
    opacity: 0.5;

}


@keyframes scroll {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 80px);
    }

    100% {
        transform: translate(-50%, 80px) scale(12);
        opacity: 0;
    }
}
